Repository ronitch/Various-APIs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, check-yaml

ruff:
  name: ruff
  entry: ruff check
  language: system

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

add pyright
  .pre-commit-config.yaml
  pyproject.toml
  src/basic_functions.py
  uv.lock
Due: ruff, check-yaml

test hook pyright fails commit or not
  .pre-commit-config.yaml
  pyproject.toml
  src/basic_functions.py
Due: ruff, check-yaml

check hook again
  .pre-commit-config.yaml
  src/basic_functions.py
Due: ruff, check-yaml

check hook
  .pre-commit-config.yaml
  src/basic_functions.py
Due: ruff, check-yaml

check hook
  src/basic_functions.py
Due: ruff

add serialized hooks
  .pre-commit-config.yaml
Due: check-yaml

remove uv
  .pre-commit-config.yaml
  .python-version
  pyproject.toml
  pytest.ini
  src/basic_functions.py
  uv.lock
Due: ruff, check-yaml

add uv
  .pre-commit-config.yaml
  .python-version
  pyproject.toml
  uv.lock
Due: check-yaml

s
  src/executable.py
Due: ruff

t
  .pre-commit-config.yaml
  pyproject.toml
  src/__init__.py
  src/async.py
  src/main.py
  tests/__init__.py
  uv.lock
Due: ruff, check-yaml

ignore ruffcache
  .gitignore
Due: none

Path conditions:
  ruff: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
